<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ida:Tenant" value=" -contoso.com--" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    
    <add key="ida:ClientId" value=" --native client app id -- " />
    <add key="ida:RedirectUri" value="--native client redirect Uri --" />
    <add key="todo:TodoListResourceId" value=" -- App Proxy Application App Uri -- " />
    <add key="todo:TodoListBaseAddress" value="-- App Proxy Application URL -- " />
  </appSettings>
</configuration>